   {% block menu %}
   {% load static %}
<!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'panel' %}">
                        <div class="brand-logo"><img class="logo" src="{% static 'admin_panel/app-assets/images/logo/logo.png' %}" /></div>
                        <h2 class="brand-text mb-0">FACTUM</h2>
                    </a></li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">


                <li class="active nav-item"><a href="{% url 'panel' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Главная</span></a>
                </li>
                {% if user.card.role == 'ADMINISTRATOR' or user.card.role == 'MODERATOR' %}
               <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Компании</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'companies' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Список компаний</span></a>
                        </li>
                        <li><a href="{% url 'company-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Edit">Добавить компанию</span></a>
                        </li>
                        <li><a href="{% url 'company-category' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Категории компаний</span></a>
                        </li>
                        <li><a href="{% url 'moder-companies' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Компании на модерацию</span></a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if user.card.role == 'COMPANY_OWNER' %}
                <li><a href="{% url 'edit' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Редактирование</span></a>
                </li>
                <li><a href="{% url 'my-balance' %}"><i class="bx bx-right-arrow-alt" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Баланс</span></a>
                </li>
                <li><a href="{% url 'reviews-user' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Отзывы</span></a>
                </li>
                {% endif %}
                {% if user.card.role == 'ADMINISTRATOR' %}
                <li class="nav-item"><a href="{% url 'tarif-add' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Создать тариф</span></a>
                </li>
                {% endif %}
                {% if user.card.role == 'ADMINISTRATOR' or user.card.role == 'MODERATOR' %}
                    <li class=" navigation-header"><span>Страницы</span>
                    </li>
                    <li class="nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Новости</span></a>
                    <ul class="menu-content">
                    <li><a href="{% url 'admin-news' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Список новостей</span></a>
                    <li><a href="{% url 'news-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Добавить новость</span></a>
                    </ul>
                    </li>
                 {% endif %}
                {% if user.card.role == 'ADMINISTRATOR' %}
                <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Пользователи</span></a>
                    <ul class="menu-content">
                        <li><a href="{% url 'employees' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Список сотрудников</span></a>
                        </li>
                        <li><a href="{% url 'employee-add' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Добавить сотрудника</span></a>
                        </li>
                    </ul>
                {% endif %}
                {% if user.card.role == 'ADMINISTRATOR' or user.card.role == 'MODERATOR' %}
                  <li><a href="{% url 'reviews' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="List">Отзывы</span></a>
                </li>
                {% endif %}
                  {% if user.card.role == 'ADMINISTRATOR' or user.card.role == 'MODERATOR' %}
                <li class="nav-item"><a href="{% url 'subscribes' %}"><i class="menu" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Подписки</span></a>
                </li>
                   <li class=" nav-item"><a href="#"><i class="menu" data-icon="users"></i><span class="menu-title" data-i18n="User">Города</span></a>
                    <ul class="menu-content">
                      <li class="nav-item"><a href="{% url 'city' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-title" data-i18n="Dashboard">Города</span></a>
                </li>
                    </ul>
                       <ul class="menu-content">
                           <li class="nav-item"><a href="{% url 'region' %}"><i class="bx bx-right-arrow-alt"></i><span class="menu-title" data-i18n="Dashboard">Области</span></a>
                </li>
                    </ul>
                </li>
                 {% endif %}

            </ul>

        </div>
    </div>
    <!-- END: Main Menu-->
   {% endblock %}