  <form action="{% url 'sandbox' %}" method="POST">
        {% csrf_token %}
      <div class="row">
 <div class="col-12">
 <div class="form-group">
 <div class="controls">
  <label>Логин</label>
          <input type="text" id = "login" class="form-control" name = "login" placeholder="Логин" value="" required data-validation-required-message="This username field is required">
 </div>
</div>
</div>
<div class="col-12">
    <div class="form-group">
        <div class="controls">
            <label>Название</label>
            <input type="text" class="form-control" placeholder="Название" value="" required data-validation-required-message="This name field is required">
        </div>
    </div>
</div>
          <div class="col-12">
              <div class="form-group">
                  <div class="controls">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password" value="" required data-validation-required-message="This email field is required">
                  </div>
              </div>
          </div>

          <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
              <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">Отправить</button>
              <button type="reset" class="btn btn-light mb-1">Закрыть</button>
          </div>
      </div>
  </form>