{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block cssLoader %}
    {% include 'front/cssloader.html' %}
    {% endblock %}
    <title>Ошибка {{error}}</title>
</head>
<body>





<section>
    <div class="container">
        <div class="error-div">
            <div>
                <p class="error-title">УПС!</p>
                <p class="error-desc">{{error_description}}</p>

                <a href="/" class="button">Вернуться на главную</a>
            </div>
            <div class="error-img-div">
                <img src="{% static 'front/img/error/error.svg' %}" alt="" class="error-img">
                <p class="error-num">{{error}}</p>
            </div>
        </div>
    </div>
</section>








{% block jsLoad %}
{% include 'front/jsLoader.html' %}
{% endblock jsLoad %}

</body>
</html>