{% block footer %}
{% load static %}
<footer>
    <div class="footer-top-div">
        <div class="container">
            <div class="footer-top">
                <div>
                    <a href=""><img src="{% static 'front/img/logo.svg' %}" alt=""></a>
                </div>
                <div>
                    <p>Будьте в курсе самых лучших предложений и свежих новостей</p>
                </div>
                <forma class="form-footer">
                    <input class="form-search-footer" id="sub_email" name="email" type="email" placeholder="Электронная почта" aria-label="Search">
                    <button class="submit-search-footer" type="submit" onclick="Dassubscribe()">Подписаться</button>
                </forma>
                <div class="soc-div">
                    <a href="" class="soc-item">
                        <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                    </a>
                    <a href="" class="soc-item">
                        <img src="{% static 'front/img/icons/inst.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="footer-bottom">
            <div>
                <p class="footer-title">города</p>
                <ul class="footer-menu footer-city">
                    {% for region in regions %}
                    <li><a href="{% url 'Catalog' %}?region={{region.region_name}}">{{region.region_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <p class="footer-title">Контакты</p>
                <ul class="footer-menu">
                    <li><a>г. Нур-Султан Район  Жумабаева 25/3</a></li>
                    <li><a href="">mymail@ru</a></li>
                    <li><a href="">8 707 700 70 70</a></li>
                    <li><a href="">8 707 700 70 70</a></li>
                </ul>

                <p class="footer-title">Обратная связь</p>
                <ul class="footer-menu">
                    <li><a href="" data-toggle="modal" data-target="#call-modal-request">Заказать обратный звонок</a></li>
                    <li><a href="" data-toggle="modal" data-target="#call-modal-review">Оставьте отзыв и помогите нам стать лучше</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-footer">
            <div>
                <p class="text text-md-left text-center text-white">Copyright 2020</p>
            </div>

            <div>
                <a href="{% url 'politics' %}" class="text text-center text-white">Политика конфиденциальности</a>
                <a href="{% url 'dogovor' %}" class="text text-center text-white">Договор оферты</a>
            </div>

            <div>
                <a href="https://factum.agency/" target="_blank" class="text text-md-right text-center text-white">Создание сайтов</a>
            </div>
        </div>
    </div>
<!-- Modal -->
 <div class="modal fade modal-subscribe-kran" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="{% static 'front/img/icons/modal-close.svg' %}" alt="">
            </button>

            <div class="modal-body">
                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44.6854 6.2885C44.0087 5.61063 42.9108 5.60946 42.2341 6.28562L21.4359 27.0289L13.9319 18.8789C13.2835 18.1751 12.1872 18.1295 11.4822 18.7778C10.7778 19.4262 10.7327 20.523 11.3811 21.2274L20.1072 30.7043C20.4268 31.0516 20.8741 31.2533 21.3456 31.2631C21.3583 31.2636 21.3705 31.2636 21.3827 31.2636C21.841 31.2636 22.2818 31.0816 22.6066 30.758L44.682 8.74043C45.3604 8.06435 45.3616 6.96637 44.6854 6.2885Z" fill="#ffce00"/>
                    <path d="M44.2663 21.2663C43.3087 21.2663 42.5327 22.0424 42.5327 23C42.5327 33.7707 33.7707 42.5327 23 42.5327C12.2299 42.5327 3.46734 33.7707 3.46734 23C3.46734 12.2299 12.2299 3.46734 23 3.46734C23.9576 3.46734 24.7337 2.69127 24.7337 1.73371C24.7337 0.77607 23.9576 0 23 0C10.3177 0 0 10.3177 0 23C0 35.6818 10.3177 46 23 46C35.6818 46 46 35.6818 46 23C46 22.0424 45.2239 21.2663 44.2663 21.2663Z" fill="#ffce00"/>
                    </svg>

                <p class="modal-subscribe-title text-center">Вы успешно подписались на новости</p>
                <button class="button button1 w-100"  data-dismiss="modal" aria-label="Close">ОК</button>
            </div>

        </div>

    </div>
</div>
</footer>

<div class="modal fade" id="call-modal-request" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Оставить заявку на обратный звонок</h3>
            <form action="{% url 'mailer' %}" class="contact-page-form def-form" method="post">
                {% csrf_token %}
                 <input type="hidden" name="form" value="call_request">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="name">Имя*</label>
                        <input type="text" required="" name="name" placeholder="Напишите ваше имя">
                    </div>
                    <div class="col-md-6 col-12" >
                        <label for="name">Телефон*</label>
                        <input type="text" class="phone" name="phone" placeholder="Напишите ваш телефон">
                    </div>
                    <div class="col-12">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Напишите ваш email">
                    </div>
                    <div class="col-12">
                        <label for="review">Комментарий</label>
                        <textarea name="text" id="" rows="5" placeholder="Ваш комментарий"></textarea>
                    </div>
                    <div class="col-md-12 col-12">
                        <button type="submit" class="button">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="call-modal-review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Оставить отзыв сервису TopBuild</h3>
            <form action="{% url 'mailer' %}" class="contact-page-form def-form" method="post">
                {% csrf_token %}
                 <input type="hidden" name="form" value="send_review">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="name">Имя*</label>
                        <input type="text" required name="name" placeholder="Напишите ваше имя">
                    </div>
                    <div class="col-md-6 col-12" >
                        <label for="name">Телефон</label>
                        <input type="text" class="phone" name="phone" placeholder="Напишите ваш телефон">
                    </div>
                    <div class="col-12">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Напишите ваш email">
                    </div>
                    <div class="col-12">
                                  <label for="rating">Оцените компанию</label>
                                    <div class="star-rating">
                                        <span data-rating="1" class="disactive">
                                            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6125 16.7147L23.9993 2.6075L17.3882 16.7147L2.53519 18.9869L13.2843 30.0212L10.7534 45.5593L24.0004 38.2273L37.247 45.5611L34.7161 30.0232L45.467 18.9872L30.6125 16.7147ZM46.7262 17.1565C47.9362 17.3428 48.4222 18.819 47.5722 19.6923L36.8522 30.6967L39.3862 46.2539C39.5902 47.5017 38.2602 48.4111 37.1802 47.8102L24.0002 40.5133L10.8203 47.8082C9.73027 48.4151 8.41228 47.4877 8.61428 46.2519L11.1483 30.6947L0.428297 19.6903C-0.421701 18.819 0.0622983 17.3428 1.2743 17.1565L16.0303 14.8992L22.6422 0.790177C23.1362 -0.263392 24.8622 -0.263392 25.3562 0.790177L31.9702 14.8992L46.7262 17.1565Z"/>
                                            </svg>
                                        </span>
                                        <span data-rating="2" class="disactive">
                                            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6125 16.7147L23.9993 2.6075L17.3882 16.7147L2.53519 18.9869L13.2843 30.0212L10.7534 45.5593L24.0004 38.2273L37.247 45.5611L34.7161 30.0232L45.467 18.9872L30.6125 16.7147ZM46.7262 17.1565C47.9362 17.3428 48.4222 18.819 47.5722 19.6923L36.8522 30.6967L39.3862 46.2539C39.5902 47.5017 38.2602 48.4111 37.1802 47.8102L24.0002 40.5133L10.8203 47.8082C9.73027 48.4151 8.41228 47.4877 8.61428 46.2519L11.1483 30.6947L0.428297 19.6903C-0.421701 18.819 0.0622983 17.3428 1.2743 17.1565L16.0303 14.8992L22.6422 0.790177C23.1362 -0.263392 24.8622 -0.263392 25.3562 0.790177L31.9702 14.8992L46.7262 17.1565Z"/>
                                            </svg>
                                        </span>
                                        <span data-rating="3" class="disactive">
                                            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6125 16.7147L23.9993 2.6075L17.3882 16.7147L2.53519 18.9869L13.2843 30.0212L10.7534 45.5593L24.0004 38.2273L37.247 45.5611L34.7161 30.0232L45.467 18.9872L30.6125 16.7147ZM46.7262 17.1565C47.9362 17.3428 48.4222 18.819 47.5722 19.6923L36.8522 30.6967L39.3862 46.2539C39.5902 47.5017 38.2602 48.4111 37.1802 47.8102L24.0002 40.5133L10.8203 47.8082C9.73027 48.4151 8.41228 47.4877 8.61428 46.2519L11.1483 30.6947L0.428297 19.6903C-0.421701 18.819 0.0622983 17.3428 1.2743 17.1565L16.0303 14.8992L22.6422 0.790177C23.1362 -0.263392 24.8622 -0.263392 25.3562 0.790177L31.9702 14.8992L46.7262 17.1565Z"/>
                                            </svg>
                                        </span>
                                        <span data-rating="4" class="disactive">
                                            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6125 16.7147L23.9993 2.6075L17.3882 16.7147L2.53519 18.9869L13.2843 30.0212L10.7534 45.5593L24.0004 38.2273L37.247 45.5611L34.7161 30.0232L45.467 18.9872L30.6125 16.7147ZM46.7262 17.1565C47.9362 17.3428 48.4222 18.819 47.5722 19.6923L36.8522 30.6967L39.3862 46.2539C39.5902 47.5017 38.2602 48.4111 37.1802 47.8102L24.0002 40.5133L10.8203 47.8082C9.73027 48.4151 8.41228 47.4877 8.61428 46.2519L11.1483 30.6947L0.428297 19.6903C-0.421701 18.819 0.0622983 17.3428 1.2743 17.1565L16.0303 14.8992L22.6422 0.790177C23.1362 -0.263392 24.8622 -0.263392 25.3562 0.790177L31.9702 14.8992L46.7262 17.1565Z"/>
                                            </svg>
                                        </span>
                                        <span data-rating="5" class="disactive">
                                            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6125 16.7147L23.9993 2.6075L17.3882 16.7147L2.53519 18.9869L13.2843 30.0212L10.7534 45.5593L24.0004 38.2273L37.247 45.5611L34.7161 30.0232L45.467 18.9872L30.6125 16.7147ZM46.7262 17.1565C47.9362 17.3428 48.4222 18.819 47.5722 19.6923L36.8522 30.6967L39.3862 46.2539C39.5902 47.5017 38.2602 48.4111 37.1802 47.8102L24.0002 40.5133L10.8203 47.8082C9.73027 48.4151 8.41228 47.4877 8.61428 46.2519L11.1483 30.6947L0.428297 19.6903C-0.421701 18.819 0.0622983 17.3428 1.2743 17.1565L16.0303 14.8992L22.6422 0.790177C23.1362 -0.263392 24.8622 -0.263392 25.3562 0.790177L31.9702 14.8992L46.7262 17.1565Z"/>
                                            </svg>
                                        </span>
                                        <input type="hidden" name="rating" class="rating-value" value="1">
                                    </div>
                            </div>
                    <div class="col-12">
                        <label for="review">Комментарий</label>
                        <textarea name="text"rows="5" placeholder="Ваш комментарий"></textarea>
                    </div>
                    <div class="col-md-12 col-12">
                        <button type="submit" class="button">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<script>
function Dassubscribe(){
    var sub_email = document.getElementById('sub_email').value
    sendSubscribe(sub_email)
}
function sendSubscribe(sub_email){
     $.ajax({
            type: "POST",
            url: "{% url 'FrontPage' %}",
            data: {
                "type": "subz",
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "email": sub_email,
            },
             success: function(data){
                console.log(data.error)
                 if(data.error == 1) {
                     alert("Вы уже подписаны!")
                 }
                 else if (data.error == 2) {
                     alert("Введите Email!")
                 }
                 else {
                     $('#subscribe-modal').modal('show')
                 }
            },
     });
    }
</script>

{% endblock footer %}