{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block cssLoader %}
    {% include 'front/cssloader.html' %}
    {% endblock %}
    <title></title>
</head>
<body class="main-page">


{% block header %}
{% include 'front/headerForm.html' %}
{% endblock %}

<section>
    <div class="container">
        <div class="default-div">
            <h2>О сервисе</h2>
            <div class="row">
                <div class="col-md-6 col-12">
                    <p class="text">TopBuild – это современный маркетплейс строительных компаний, объединяющий их интересы с нуждами заказчиков. Многие владельцы малого и среднего бизнеса сталкиваются с огромной конкуренцией со стороны крупных игроков рынка. Именно размещение на нашей  платформе позволит расширить целевую аудиторию, получить потенциальных покупателей услуг и дополнительный источник трафика!
                       <br> Всё, что требуется от компании — просто зарегистрироваться на сайте и предоставить информацию о себе, которая после модерации будет опубликована на сайте.
                       <br> Простое для понимания меню, легкий интерфейс и наличие широкого выбора актуального контента без спама и рекламы. База сервиса строительных компаний регулярно пополняется и обновляется.
                       <br> TopBuild:
                       <br> •	облегчает поиск компетентных специалистов для решения любых профессиональных задач, связанных со строительством и ремонтом в его городе. Есть возможность оставить заявку, посмотреть контакты или написать отзыв.
                       <br> •	даёт возможность компания получать интересные и выгодные предложения по работе,  получать заявки с сайта и метрить количество конверсии.</p>
                </div>

                <div class="col-md-6 col-12">
                    <p class="text">Для того, чтобы добавиться на сервис, компания должна быть обязательно зарегистрирована на нашем сайте. Для прохождения регистрации — перейдите по указанной <a href="" target="_blank">ссылке</a>. Заполните все данные для того, чтобы модерация сервиса смогла проверить их достоверность. Сразу же после модерации информация о вашей компании будет отражаться в каталоге.
                        <br>  Кроме того, каждая организация должна обязательно выбрать подходящий тариф. Подробную информацию о каждом можно найти по <a href="" target="_blank">ссылке</a>.
                        <br> Ниже размещена видео инструкция о том, как разместить свою компанию на сервисе TopBuild. Ознакомьтесь с ней. Если остались какие-то вопросы — мы готовы оперативно на них ответить.
                        <br> Оцените все преимущества использования нашего маркетплейс строительных компаний!
                        </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <h2>Видео инструкция для партнеров</h2>
        <div class="default-video-div">
            <div class="default-video-after">
                <img src="img/default/1.png" alt="">
            </div>
            <iframe class="default-video" width="100%" height="500px" src="https://www.youtube.com/embed/nRTJd91G04Q?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="default-div">
            <h2>Преимущества размещения TopBuild для партнёров:</h2>
            <div class="row">
                <div class="col-12">
                    <p class="text">Размещение вашей строительной компании на нашем сервисе TopBuild позволит вам сфокусироваться на развитии бизнеса, а его продвижением займемся мы.</p>
                </div>
                <div class="col-md-5 col-12 d-md-block d-none">
                    <img src="img/product/1.png" class="w-100" alt="">
                </div>
                <div class="col-md-7 col-12">
                    <p class="text">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99388 14C6.74262 14 6.49135 13.9038 6.29994 13.7122L0.287929 7.69467C-0.0959765 7.3106 -0.0959765 6.68962 0.287929 6.30556C0.671656 5.92149 1.29191 5.92149 1.67581 6.30556L6.99388 11.6283L18.3243 0.288049C18.708 -0.0960164 19.3283 -0.0960164 19.7122 0.288049C20.0959 0.672295 20.0959 1.2931 19.7122 1.67734L7.688 13.7122C7.49659 13.9038 7.24515 14 6.99388 14Z" fill="#FFCE00"/>
                        </svg>
                        Наличие большого трафика. Вы гарантированно получите поток клиентов и заказов, так как услуги буду продвигаться по всем рекламным каналам в интернете.</p>

                    <p class="text">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99388 14C6.74262 14 6.49135 13.9038 6.29994 13.7122L0.287929 7.69467C-0.0959765 7.3106 -0.0959765 6.68962 0.287929 6.30556C0.671656 5.92149 1.29191 5.92149 1.67581 6.30556L6.99388 11.6283L18.3243 0.288049C18.708 -0.0960164 19.3283 -0.0960164 19.7122 0.288049C20.0959 0.672295 20.0959 1.2931 19.7122 1.67734L7.688 13.7122C7.49659 13.9038 7.24515 14 6.99388 14Z" fill="#FFCE00"/>
                        </svg>
                        Нет необходимости делать или раскручивать собственный сайт. Это удобно для молодых строительных компаний. На разработку и оптимизацию веб сайта уйдёт время, а на нашем маркетплейсе продажи услуг могут стартовать сразу же после размещения в каталоге.</p>

                    <p class="text">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99388 14C6.74262 14 6.49135 13.9038 6.29994 13.7122L0.287929 7.69467C-0.0959765 7.3106 -0.0959765 6.68962 0.287929 6.30556C0.671656 5.92149 1.29191 5.92149 1.67581 6.30556L6.99388 11.6283L18.3243 0.288049C18.708 -0.0960164 19.3283 -0.0960164 19.7122 0.288049C20.0959 0.672295 20.0959 1.2931 19.7122 1.67734L7.688 13.7122C7.49659 13.9038 7.24515 14 6.99388 14Z" fill="#FFCE00"/>
                        </svg>
                        Сильный и эффективный маркетинг. В своём распоряжении наш сервис имеет множество работающих различных инструментов и каналов продвижения.</p>

                    <p class="text">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99388 14C6.74262 14 6.49135 13.9038 6.29994 13.7122L0.287929 7.69467C-0.0959765 7.3106 -0.0959765 6.68962 0.287929 6.30556C0.671656 5.92149 1.29191 5.92149 1.67581 6.30556L6.99388 11.6283L18.3243 0.288049C18.708 -0.0960164 19.3283 -0.0960164 19.7122 0.288049C20.0959 0.672295 20.0959 1.2931 19.7122 1.67734L7.688 13.7122C7.49659 13.9038 7.24515 14 6.99388 14Z" fill="#FFCE00"/>
                        </svg>
                        Широкие технические и коммуникационные возможности. Над сервисом работает целая команда квалифицированных специалистов, способных реализовывать сложные решения.</p>

                    <p class="text">
                        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.99388 14C6.74262 14 6.49135 13.9038 6.29994 13.7122L0.287929 7.69467C-0.0959765 7.3106 -0.0959765 6.68962 0.287929 6.30556C0.671656 5.92149 1.29191 5.92149 1.67581 6.30556L6.99388 11.6283L18.3243 0.288049C18.708 -0.0960164 19.3283 -0.0960164 19.7122 0.288049C20.0959 0.672295 20.0959 1.2931 19.7122 1.67734L7.688 13.7122C7.49659 13.9038 7.24515 14 6.99388 14Z" fill="#FFCE00"/>
                        </svg>
                        Всегда выгоднее доверять тем, кто предлагает большие возможности!</p>
                </div>
            </div>
            <a href="" class="button">Регистрация</a>
        </div>

    </div>
</section>

    {% block footer %}
    {% include 'front/footerForm.html' %}
    {% endblock footer %}

{% block jsLoad %}
{% include 'front/jsLoader.html' %}
{% endblock jsLoad %}

    {% if error == 0 %}
    <script>
    $('#subscribe-modal').modal('show')
    </script>
    {% endif %}

</body>
</html>

