{% block jsLoad %}
{% load static %}

<script src="{% static 'front/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/popper.min.js' %}"></script>
<script src="{% static 'front/js/wow.min.js' %}"></script>
<script src="{% static 'front/js/swiper.min.js' %}"></script>
<script src="{% static 'front/js/tilt.jquery.js' %}"></script>
<script src="{% static 'front/js/main.js' %}"></script>
<script src="{% static 'front/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'front/js/chosen.jquery.js' %}"></script>
<script src="{% static 'front/js/cookie.js' %}"></script>


{% endblock jsLoad %}